- const REVIEWS = [{ header: 'Анна Орлова', text: '«Хожу в SuperClub уже больше года. Нравится, что в клубе всегда чисто, тренажеры обновляют, персонал дружелюбный. Зал просторный, даже в вечернее время нет очередей»'},]

section.main-review
  .main-review__wrapper.swiper
    h1.section-heading Отзывы
    ul.main-review__list.swiper-wrapper
      each review in REVIEWS
        li.main-review__item.swiper-slide
          -
            const reviewPath = 'img/review'
          // 1х: 80px; 2x: 160px
          picture
            source(type='image/webp' media='(max-width: 767px)' srcset=`${reviewPath}-mobile@1x.webp, ${reviewPath}-mobile@2x.webp 2x`)
            source(type='image/png' media='(max-width: 767px)' srcset=`${reviewPath}-mobile@1x.png, ${reviewPath}-mobile@2x.png 2x`)
            source(type='image/webp' media='(max-width: 1199px)' srcset=`${reviewPath}-notmobile@1x.webp, ${reviewPath}-notmobile@2x.webp 2x`)
            source(type='image/png' media='(max-width: 1199px)' srcset=`${reviewPath}-notmobile@1x.png, ${reviewPath}-notmobile@2x.png 2x`)
            source(type='image/webp' srcset=`${reviewPath}-notmobile@1x.webp, ${reviewPath}-notmobile@2x.webp 2x`)
            img(src=`${reviewPath}-notmobile@1x.png` srcset=`${reviewPath}-notmobile@2x.png 2x` alt='Иконка пользователя' width=80 height=80)
          h2=review.header
          p=review.text
    button.btn-left.swiper-button-prev(type="button" aria-expanded="false")
      svg(width='16' height='32' aria-hidden='true' fill='none')
        use(href='img/sprite_auto.svg#icon-left')
    button.btn-right.swiper-button-next(type="button" aria-expanded="false")
      svg(width='16' height='32' aria-hidden='true' fill='none')
        use(href='img/sprite_auto.svg#icon-right')
