- const COACHES = [{ header: 'Анна Павлова', subheader: 'CrossFit', rank: 'Certified Level 3 Trainer', achievement: 'Победитель чемпионата России по CrossFit ', experience: 'Опыт — 6 лет'},{ header: 'Алексей Лавров', subheader: 'CrossFit', rank: 'Certified Level 3 Trainer', achievement: 'Победитель чемпионата России по CrossFit ', experience: 'Опыт — 6 лет'},{ header: 'Александр Пашков', subheader: 'CrossFit', rank: 'Certified Level 3 Trainer', achievement: 'Победитель чемпионата России по CrossFit ', experience: 'Опыт — 6 лет'},{ header: 'Мария Кетова', subheader: 'CrossFit', rank: 'Certified Level 3 Trainer', achievement: 'Победитель чемпионата России по CrossFit ', experience: 'Опыт — 6 лет'},]

section.main-coaches
  ._wrapper.swiper
    h1.section-heading Тренеры
    ul.main-coaches__list.swiper-wrapper
      each coach, index in COACHES
        li.main-coaches__item.swiper-slide
          -
            const currentIndex = index + 1
            const coachPath = 'img/coach-' + currentIndex
          // 1х: 260px; 2x: 520px
          picture
            source(type='image/webp' media='(max-width: 767px)' srcset=`${coachPath}-mobile@1x.webp, ${coachPath}-mobile@2x.webp 2x`)
            source(type='image/jpg' media='(max-width: 767px)' srcset=`${coachPath}-mobile@1x.jpg, ${coachPath}-mobile@2x.jpg 2x`)
            source(type='image/webp' media='(max-width: 1199px)' srcset=`${coachPath}-tablet@1x.webp, ${coachPath}-tablet@2x.webp 2x`)
            source(type='image/jpg' media='(max-width: 1199px)' srcset=`${coachPath}-tablet@1x.jpg, ${coachPath}-tablet@2x.jpg 2x`)
            source(type='image/webp' srcset=`${coachPath}-desktop@1x.webp, ${coachPath}-desktop@2x.webp 2x`)
            img(src=`${coachPath}-desktop@1x.jpg` srcset=`${coachPath}-desktop@2x.jpg 2x` alt=`Тренер ${coach.header}` width=260 height=294)
          h2=coach.header
          .main-coaches__info
            p=coach.subheader
            ul
              li=coach.rank
              li=coach.achievement
              li=coach.experience
    button.btn-left._prev(type="button")
      svg(width='16' height='32' aria-hidden='true' fill='none')
        use(href='img/sprite_auto.svg#icon-left')
    button.btn-right._next(type="button")
      svg(width='16' height='32' aria-hidden='true' fill='none')
        use(href='img/sprite_auto.svg#icon-right')
