section.main-intro
  .main-intro__wrapper
    .main-intro__description
      h1.section-heading Тренажерный зал
      h2 Просторный зал площадью 900 кв/м
      p Supergym&nbsp;&mdash; самый большой фитнес центр за&nbsp;Уралом и&nbsp;идеальное место для укрепления тела и&nbsp;здоровья. Тренажерный зал оснащен всем необходимым современным оборудованием для всех спортсменов.
      p.for-desktop В&nbsp;зале расположены отдельная зона для Crossfit и&nbsp;кардио-зона с&nbsp;40&nbsp;тренажерами. Также в&nbsp;фитнес центре есть несколько оборудованных залов для различных видов групповых занятий.
    -
      const introPath = 'img/gym'
    // 1х: 660px; 2x: 1320px
    picture
      source(type='image/webp' media='(max-width: 767px)' srcset=`${introPath}-mobile@1x.webp, ${introPath}-mobile@2x.webp 2x`)
      source(type='image/jpg' media='(max-width: 767px)' srcset=`${introPath}-mobile@1x.jpg, ${introPath}-mobile@2x.jpg 2x`)
      source(type='image/webp' media='(max-width: 1199px)' srcset=`${introPath}-tablet@1x.webp, ${introPath}-tablet@2x.webp 2x`)
      source(type='image/jpg' media='(max-width: 1199px)' srcset=`${introPath}-tablet@1x.jpg, ${introPath}-tablet@2x.jpg 2x`)
      source(type='image/webp' srcset=`${introPath}-desktop@1x.webp, ${introPath}-desktop@2x.webp 2x`)
      img(src=`${introPath}-desktop@1x.jpg` srcset=`${introPath}-desktop@2x.jpg 2x` alt='Обзор тренажерного зала' width=660 height=401)
    .video
      a.video__link(href="https://youtu.be/9TZXsZItgdw" target="_blank" rel="noopener noreferrer")
        -
          const previewPath = 'img/preview'
        // 1х: 364px; 2x: 728px
        picture
          source(type='image/webp' media='(max-width: 767px)' srcset=`${previewPath}-mobile@1x.webp, ${previewPath}-mobile@2x.webp 2x`)
          source(type='image/jpg' media='(max-width: 767px)' srcset=`${previewPath}-mobile@1x.jpg, ${previewPath}-mobile@2x.jpg 2x`)
          source(type='image/webp' media='(max-width: 1199px)' srcset=`${previewPath}-tablet@1x.webp, ${previewPath}-tablet@2x.webp 2x`)
          source(type='image/jpg' media='(max-width: 1199px)' srcset=`${previewPath}-tablet@1x.jpg, ${previewPath}-tablet@2x.jpg 2x`)
          source(type='image/webp' srcset=`${previewPath}-desktop@1x.webp, ${previewPath}-desktop@2x.webp 2x`)
          img.video__media(src=`${previewPath}-desktop@1x.jpg` srcset=`${previewPath}-desktop@2x.jpg 2x` alt='Превью тренажерного зала' width=364 height=228)
        button.video__button(type="button" aria-label="Запустить видео" hidden)
